section.donation
  .donation__wrapper
    .donation__text-block
      h2.donation__title.titleH2 You can also#[br] make a donation
      p.donation__text Name of the bank / Type of bank account
      +button('8380 2880 8028 8791 7435', '#')(class="button--donation")
      p.donation__text.donation__info Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    .donation__image-block
1
