include ../mixins/mixins

section.help
  .help__wrapper
    h2.help__title.titleH2 How you can help #[br] our shelter
    ul.help__list
      +help-icon('Pet food', 'icon-pet-food')
      +help-icon('Transportation', 'transportation')
      +help-icon('Toys', 'toys')
      +help-icon('Bowls and cups', 'bowls-and-cups')
      +help-icon('Shampoos', 'shampoos')
      +help-icon('Vitamins', 'vitamins')
      +help-icon('Medicines', 'medicines')
      +help-icon('Collars/leashes', 'Collars-collars-or-leashes')
      +help-icon('Sleeping areas', 'sleeping-area')
