include ../mixins/pets

section.pets-slider
  .pets-slider__wrapper
    h2.pets-slider__title.titleH2 Our friends who #[br] are looking for a house
    ul.pets-slider__slider
      button.pets-slider__arrow--left.arrow
      +friend('Katrine', 'katrine')
      +friend('Jennifer', 'jennifer')
      +friend('Woody', 'woody')
      button.pets-slider__arrow--right.arrow
    +button('Get to know the rest')(class="button-pets-slider")
