include ../mixins/mixins

section.start-screen
  h1.visually-hidden Cozy House - Shelter for pets in Boston
  .start-screen__wrapper.start
    .start__text-wrapper
      p.start__title Not only people<br>need a house
      p.start__text We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
      +button("Make a friend")(class='')

    .start-img
