.main {
  width: 93%;
}

.task {
  display: grid;
  align-items: center;
  justify-items: center;
}

.task__editor {
  margin: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $back-add;
}

.css__header,
.html__header {
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html__numbers {
  list-style: none;
  margin: 0;
  padding: 10px;
}
