.main {
  width: 93%;
}

.task {
  height: 100%;
  display: grid;
  grid-template-rows: max-content min-content 1fr auto;
  align-items: center;
  justify-items: center;
}

.task__editor {
  margin: 20px;
  margin-top: auto;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $back-add;
  border-radius: 10px;
  outline: 5px solid var(--bs-green);
  outline-offset: -5px;
}

.task__editor > div {
  display: grid;
  grid-template-rows: 50px auto;
}

.css__header,
.html__header {
  font-size: 0.8rem;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css__header > h3,
.html__header > h3 {
  font-size: 1rem;
}

.html__numbers {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.levels-header__numb {
  position: relative;
}

.html__disabled {
  padding: 10px;
  flex: 1;
  background-color: $back;
  border-radius: 10px;
}
