.nav-item {
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: tomato;
  }

  &:active {
    color: green;
  }
}

.current {
  color: tomato;
  border-bottom: 2px solid green;
  border-radius: 10px;
}
