.page__body {
  padding-inline: 3%;
  max-width: $width-desktop;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  font-family: "Montserrat";
  background-color: $back;
  color: $text;
}

.not-approved,
.approved {
  &::after {
    content: "";
    top: 50%;
    left: -13.5px;
    transform: translate(0, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
.not-approved {
  &::after {
    background-color: tomato;
  }
}

.approved {
  &::after {
    background-color: green;
  }
}

div .disabled {
  background-color: transparent;
  border: 1px solid tomato;
  color: $text-add;

  &:hover {
    background-color: transparent;
    color: $text-add;
  }
}
