//.block {@include flex(flex-start, $wrap: no-wrap);}

@mixin font($size, $height: $size, $weigth: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weigth;
  line-height: $height;
}
