include ../mixins/mixins

footer.footer

  .footer__wrapper
      .footer__contacts
        h2.footer__contacts--title.titleH2.titleH2--footer For questions and suggestions
      .footer__address
        h2.footer__address--title.titleH2.titleH2--footer We are waiting for your visit
      .footer__img
        .about__image-block(style="background:grey; width:300px; height:310px")
