include ../mixins/mixins

footer.footer

  .footer__container
      ul.social__list
        +social-link('Корзина', 'pin', '#')(class="social-item--footer")
        +social-link('Корзина', 'pin', '#')(class="social-item--footer")
        +social-link('Корзина', 'phone', '#')(class="social-item--footer")
        +social-link('Корзина', 'mail', '#')(class="social-item--footer")

