extends layout/layout

block variables
  - var title = 'Cozy House'
  - var pageClass = "index-page"

block content
  main(class= pageClass)
    //- include
    include ./blocks/start-screen
    include ./blocks/about
    include ./blocks/pets-slider
    include ./blocks/help
    include ./blocks/donation
