.mineField {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background: grey;
  background: rgb(255, 255, 0);
  margin: auto;
  margin-top: 10%;
}

.cell {
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: 1px solid rgba(0, 0, 0, 0.589);
  outline-offset: -2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: 0 0 5px rgb(70, 70, 70);
}

.free {
  // background: rgb(255, 255, 77);
}

.checked {
  background: rgb(206, 245, 190);
}
.bomb,
.flag {
  background: rgb(53, 53, 53);
}

.boom {
  background: red;
}
