.page__body {
  padding-inline: 3%;
  max-width: $width-desktop;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  // height: 100vh;
  font-family: "Montserrat";
  background-color: $back;
  color: $text;
  background: url(../img/bcg-pattern.jpg);
  background-size: contain;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
