doctype html
html.page(lang='en-US')

  include head

  body.page__body

      include ../modules/header

      block content

      include ../modules/footer

      block scripts

      script(src="js/main.js" type='module')
