doctype html
html.page(lang='en-US')

  include head

  body.page__body

      include ../modules/header

      block content

      include ../modules/footer

      script(src="js/index.js" type='module')
