.button {
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  color: $text-button;
  font-weight: 700;
  border-radius: 5px;
  background-color: $back-btn--default;
  box-shadow: 0 0 10px 1px $back--add, 0 0 50px -15px rgb(109, 255, 255),
    inset 2px 2px 15px 5px $back;
  transition: all 0.25s ease;

  &:hover {
    color: $text;
  }

  &:active {
    color: $back--add;
    box-shadow: inset 2px 2px 15px 10px $shadow--add;
  }

  &:disabled {
    outline: 18px solid rgb(148, 148, 148);
    outline-offset: -18px;
    color: grey;
    cursor: default;
  }
}

.editor-button {
  min-width: 125px;
  margin: 0;
  padding: 7px 15px;
}

.button.editor-button.dont-touch {
  outline: 5px solid rgba(223, 223, 223, 0.589);
  outline-offset: -5px;
}

.car-button {
}

.button-next,
.button-prev {
  background-color: inherit;
  color: lightblue;
}
