.car-box {
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr;
  grid-template-rows: auto;
  max-width: 90vw;
  max-height: min-content;
}

.car-road {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  // max-width: 90vw;
  align-self: end;
  border-bottom: 1px dashed white;
  background-color: #4b4b4b;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  z-index: -1;
}

.car {
  position: absolute;
  top: -100%;
  left: -150px;
  width: 400px;
  height: 200px;
  perspective: 800px;
  perspective-origin: 50% 50%;
  transform: scale(0.25);
  transition: all 1s ease-out;
}

.car-motor {
  animation: shake 1s infinite;
}

.car-start {
  left: 65vw;
}

@keyframes shake {
  0%,
  100% {
    transform: scale(0.25) translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(0.25) translateY(-1.5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(0.25) translateY(1.5px);
  }
}

.car-name {
  padding: 5px 15px;
  margin: 0;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 5px;
}

.car-name::first-letter {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: goldenrod;
}

.car .car-body {
  position: absolute;
  top: 50%;
  left: 40px;
  width: 320px;
  height: 120px;
  background-color: #333;
  border-radius: 10px;
  transform: translateY(-50%) rotateY(30deg);
  transform-origin: left center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 5px solid black;
}

.car .car-window {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 100px;
  height: 60px;
  background-color: #19303f;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}

.car .car-wheel {
  position: absolute;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: #999;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 5px solid black;
}

.car .car-wheel.car-front {
  left: 60px;
}

.car .car-wheel.car-rear {
  right: 60px;
}

.car .car-headlight {
  position: absolute;
  top: 30%;
  border: 5px solid black;
  width: 30px;
  height: 12px;
  background-color: #fce168;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.car .car-headlight.car-left {
  top: 100px;
  left: 30px;
  background-color: #fd3535;
}
.car .car-headlight.car-right {
  left: 280px;
}

// race light
.car-right.car-right-light {
  box-shadow: 40px 0px 100px 20px rgb(253, 250, 51),
    10px 0px 30px 5px rgb(239, 255, 150),
    60px 40px 200px 40px rgb(246, 255, 195);
}

.car-left.car-left-light {
  box-shadow: 10px 0px 100px 20px rgb(255, 87, 87),
    -10px 0px 30px 5px rgb(255, 19, 39), -50px -10px 200px 40px rgb(255, 87, 87);
}
