.container {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.create-color,
.update-color {
  cursor: pointer;
  min-width: 25px;
}
