$back: #505050;
$back--add: #686868;
$shadow--add: #3d3d3d;
$back-btn--default: #89a7e0;
$back-btn--add: #89e0c3;
$text: #e9e9e9;
$text-button: #505050;

$width-desktop: 1920px;
$width-tablet: 768px;
$width-mobile: 320px;
