.winner-box {
  justify-content: space-between;
  word-wrap: break-word;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}

.winner-data {
  padding: 15px;
  min-width: 9%;
  outline: 5px solid rgba(255, 88, 88, 0.904);
  outline-offset: -5px;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}
