@use "./abstract/" as *;
@use "./modules/variables" as v;
/* footer */

.footer {
  margin-top: auto;
  padding-top: 40px;
  width: 100%;
  min-height: 350px;

  display: flex;
  flex-direction: column;
  background: $footer-gradient-background;
}

.footer__wrapper {
  padding-inline: v.$wrapper-inline;

  display: flex;
}

.titleH2.titleH2--footer {
  color: $color-light-xl;
  text-align: left;
}
