/* footer */

.footer {
  margin-top: auto;
  padding-top: 40px;

  width: 100%;
  min-height: 350px;

  display: flex;
  flex-direction: column;
  background: $footer-gradient-background;
  @media (max-width: $desktop-width - 1) {
    padding-top: 15px;
    padding-bottom: 60px;
  }
  @media (max-width: $tablet-width - 1) {
    padding-top: 12px;
    padding-bottom: 0;
  }
}

.footer__wrapper {
  padding-inline: $wrapper-inline;
  display: flex;
  justify-content: flex-start;
  gap: 3.5%;
  @media (max-width: $desktop-width - 1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5%;
    row-gap: 10.5%;
  }
  @media (max-width: $tablet-width - 1) {
    display: block;
  }
}

.titleH2--footer {
  margin-top: 16px;
  margin-bottom: 32px;
  color: $color-light-xl;
  text-align: left;

  @media (max-width: $tablet-width - 1) {
    text-align: center;
    font-size: $fz25;
    max-width: 98%;
    margin-bottom: 36px;
  }

  & br {
    @media (max-width: $tablet-width - 1) {
      display: none;
    }
  }
}

.contacts {
  @media (max-width: $desktop-width - 1) {
    margin-left: 40px;
  }
  @media (max-width: $min-width) {
    margin-left: 0;
  }
}

.contact .contacts__item {
  @media (max-width: $tablet-width - 1) {
    margin-left: 25px;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 34px;
  }
}

.footer__contacts,
.footer__address {
  flex-basis: 33%;
  @media (max-width: $desktop-width - 1) {
    max-width: 320px;
  }
  @media (max-width: $tablet-width - 1) {
    margin: 0 auto;
    margin-bottom: 38px;
  }
}

.footer__address {
  max-width: 302px;
}

.contacts__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  @extend %transition;

  &:hover h3 {
    color: lighten($color-primary-light, 50%);
  }
}

.address {
  @media (max-width: $tablet-width - 1) {
    margin-bottom: 54px;
  }
}

.address__link::before {
  content: '';
  width: 22px;
  height: 32px;
  position: absolute;
  background: url('../img/icons/pin.svg');
}

.address__link h3 {
  padding-left: 43px;
}

.contacts__info {
  font-size: 1.25rem;
  color: $color-primary;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__img {
  margin-left: auto;

  max-width: 300px;
  width: 100%;
  height: 310px;

  background: url('../img/bg/footer-puppy.png');
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $desktop-width - 1) {
    margin-inline: auto;
    grid-column: 1 / -1;
  }

  @media (max-width: $tablet-width - 1) {
    max-width: 260px;
    height: 269px;
  }
}
