@use "./abstract/" as *;
/* logo */

.logo {
  display: grid;
  gap: 7.5px;
  align-items: center;

}

.logo__title {
  margin: 0;


  color: $color-primary;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.1875rem;
  align-self: center;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  margin: 0;
  padding: 0;

  color: $color-light-xl;
  font-family: Arial;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1em;
}
