@use '../abstract/' as *;
/* menu */

.menu-nav {
  color: red;
  display: flex;
  column-gap: 2rem;
}

/* list */

.menu-nav__list {
  margin: 0;
  padding: 0;
  display: flex;

  gap: 2.2rem;
  list-style: none;
  font-size: 1.125rem;
  align-self: center;
  font-weight: 400;
  line-height: 125%;
  font-family: 'Manrope';
}

/* item */

/* link */
.menu-nav__link {
  &:hover {
    color: $color-primary;
  }
  &:active {
    color: $color-primary-light;
  }
}

.menu-site__link--active {
  padding-bottom: 3px;
  font-weight: bold;
  border-bottom: 3px solid $color-primary;
  cursor: default;

  &:hover {
    color: $color-dark-l;
  }
  &:active {
    color: $color-dark-l;
  }
}

.index-page .menu-site__link--active {
  &:hover {
    color: $color-dark-s;
  }
  &:active {
    color: $color-dark-s;
  }
}
