@use "./abstract/" as *;

.page {
  height: 100%;
  font-size: 16px;
  font-family: $font-family-default;
  font-weight: 400;
  line-height: 1.5rem;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: $min-width;
  max-width: $desktop-width;
  min-height: 100%;
  color: $basic_font;
}

.titleH2 {
  text-align: center;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}
