.pets {
  margin-top: 33px;
  background-color: $color-light-l;
}
.pets__wrapper {
  padding-inline: $wrapper-inline;
  padding-bottom: 100px;
  @media (max-width: $desktop-width - 1) {
    padding-bottom: 77px;
  }
  @media (max-width: $tablet-width - 1) {
    padding-bottom: 45px;
  }
}

.pets__title {
  padding-top: 80px;
  margin-bottom: 58px;
  text-align: center;
  color: $color-dark-l;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.84375rem;
  letter-spacing: 0.06em;
  @media (max-width: $desktop-width - 1) {
    margin-bottom: 28px;
  }
  @media (max-width: $tablet-width - 1) {
    font-size: $fz25;
    padding-top: 39px;
    line-height: 130%;
    margin-bottom: 41px;
  }
}

.pets__list {
  margin-bottom: 62px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 2.7863%;
  row-gap: 30px;

  @include media('min', 'xl') {
    column-gap: 3.3%;
  }

  @include media('max', 'xl') {
    justify-content: center;
    margin-bottom: 43px;
    column-gap: 5.7863%;
  }
}

.pets__item {
  padding-bottom: 30px;
  display: grid;
  row-gap: 30px;
  cursor: pointer;
  border-radius: 9px;
  @extend %transition;

  &:hover {
    box-shadow: 0 10px 20px 0 $color-dark-m--alpha20;
  }
  & img {
    border-radius: 9px 9px 0 0;
  }
}

.pets__list .pets__item:last-child,
.pets__list .pets__item:nth-last-child(2) {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.pets__list .pets__item:nth-last-child(3),
.pets__list .pets__item:nth-last-child(4),
.pets__list .pets__item:nth-last-child(5) {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.pets-slider__slider .pets__item--button:hover {
  box-shadow: none;
  cursor: default;
}

.pets__item img {
  object-fit: cover;
}

.pets__name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.42rem;
  letter-spacing: 0.06em;
}

.pets__pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  font-size: 20px;
  line-height: 115%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $color-dark-3xl;

  @media (max-width: $tablet-width - 1) {
    column-gap: 10px;
  }
}

.pagination__link {
  min-width: 52px;
  width: 52px;
  height: 52px;
  border: 1px solid $color-primary;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  align-self: center;
  transition: all 1s ease;
  background-color: inherit;

  &:hover {
    background-color: $color-primary-light;
  }
}

.pagination__link:disabled {
  cursor: default;
  border-radius: 50%;
  color: $color-dark-s;
  border-color: $color-dark-s;
}

.pagination__link:disabled:hover {
  background-color: inherit;
}

.pagination__link--active {
  border-radius: 50%;
  background-color: $color-primary;

  &:hover {
    box-shadow: none;
    background-color: $color-primary;
  }
}
