.pets-slider {
  padding-inline: v.$wrapper-inline;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $color-light-l;
}

.pets-slider__title {
  margin-bottom: 60px;
}

.pets-slider__slider {
  margin-bottom: 92px;
  position: relative;
  display: flex;
  justify-content: center;
  // column-gap: 90px;
}

.pets-slider__slider li {
  margin-inline: 4%;
}

.arrow {
  margin-top: 30px;
  width: 52px;
  height: 52px;
  background: url('../img/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $color-primary;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  align-self: center;
  transition: all 1s ease;

  &:hover {
    background-color: $color-primary-light;
  }
}

.pets-slider__arrow--right {
  transform: rotate(180deg);
}
