$font-first: Georgia, sans-serif;
$font-second: Arial, sans-serif;

$wrapper-inline: calc(40px / 1280px * 100%);

//font-size
$fz12: 0.75rem;
$fz13: 0.8125rem;
$fz14: 0.875rem;
$fz15: 0.9375rem;
$fz16: 1rem;
$fz20: 1.25rem;
$fz25: 1.5625rem;
$fz32: 2rem;
$fz35: 2.1875rem;
$fz44: 2.75rem;
