//toggle

.menu-nav__button {
  @include media('max', 'xl') {
    align-items: baseline;
    display: block;
    z-index: 11;
    order: 1;
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
  }

  @include media('min', 'md') {
    display: none;
  }
}

//поворот
.menu-nav__icon-menu {
  @extend %transition;
  transform-origin: 15px center;
}

.rotated {
  transform: rotate(90deg);
}

//no scrool
.lock {
  overflow: hidden;

  padding-right: 28px;
}

.lock::before {
  content: '';
  background: $color-dark-3xl--alpha60;
  position: absolute;
  width: 100%;
  height: 1000%;
  z-index: 9;
}

//черточки
.menu-nav span {
  position: fixed;
  top: 48px;
  right: 30px;
  width: 30px;
  height: 22px;

  .header__pets & {
    right: 19px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: $color-primary;
    width: 30px;
    height: 2px;
    box-shadow: 0 10px 0 0 $color-primary, 0 -10px 0 0 $color-primary;

    .header__pets & {
      background-color: $basic_black;
      box-shadow: 0 10px 0 0 $basic_black, 0 -10px 0 0 $basic_black;
    }
  }
}

.menu__list--open + .header__burger > span::after {
  background-color: $color-primary;
  box-shadow: 0 10px 0 0 $color-primary, 0 -10px 0 0 $color-primary;
}
// .menu-nav span::before {
//   content: '';
//   position: absolute;
//   top: 0px;
//   background-color: $color-primary;
//   width: 30px;
//   height: 2px;
// }
