@import "~normalize.css";
@import "style/fonts";
@import "style/var";
@import "style/style";
@import "style/buttons";

@import "style/header";
@import "style/main";
@import "style/editor";
@import "style/car";
@import "style/flag";
@import "style/modal";
@import "style/winners";

@import "style/footer";
