@use "./abstract/" as *;

.button {
  padding-block: 0.85rem;
  min-width: 187px;

  background-color: $color-primary;
  border: none;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  cursor: pointer;

  -webkit-transition: 1s ease;


  &:hover {
    background-color: $color-primary-light;
    transition: all 0.2s ease-out;

  }
}

.button--start {
  max-width: 208px;
  width: 100%;
}

.button--pets {
  max-width: 187px;
  margin: 0 auto;
  background-color: inherit;
  border: 1px solid $color-primary;
}

.button-pets-slider {
  padding-inline: 3rem;
  margin: 0 auto;
  display: block;
}
